body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Gilroy';
    line-height: 24px;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/gilroyextrabold.woff2") format('woff2'),
    url("../fonts/gilroyextrabold.woff") format('woff');
    font-weight: 800;

    font-family: 'Gilroy';
    src: url("../fonts/gilroylight.woff2") format('woff2'),
    url("../fonts/gilroylight.woff") format('woff');
    font-weight: 300;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}



a {
    text-decoration: none;
    color: #000;
}

/*  header  */
.header {
    background: url("../img/header-bg.png") center no-repeat;
}

.site-search {
    list-style: none;
}

.user-enter {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #000;
    list-style: none;
}

.user-compare {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #000;
    list-style: none;
}

.site-navigation {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    list-style: none;
    text-transform: uppercase;
}

.about {
    font-size: 47px;
    font-weight: 800;
    color: #000;
}

.about-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #464646;
}

.transport {
    font-size: 16px;
    font-weight: 800;
    color: #000;
}



.contact {
    font-size: 47px;
    font-weight: 800;
    color: #000;
}

.contact-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #464646;
}

.info {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
}

.communication {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
}



/*  footer  */
.footer {
    background: url("../img/footer-bg.png") center no-repeat;
}

.footer-nav {
    list-style: none;
}

.footer-nav a {
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
}

.footer-user {
    list-style: none;
}

.social {
    list-style: none;
}

.footer-user a{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

.footer-address {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

/*  catalog  */
.title {
    font-size: 47px;
    font-weight: 800;
    color: #000;
}

.breadcrumbs li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    list-style: none;
}

.filter {
    background-color: #eee;
    background: url("../img/filter-bg.png")left no-repeat;
}

.filter-title {
    font-size: 18px;
    font-weight: 800;
    color: #000;
}

.color-item li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    list-style: none;
}

.catalog-item {
    font-size: 18px;
    font-weight: 800;
    color: #000;
}

.btn {
    font-size: 18px;
    font-weight: 800;
    color: #000;
}

.price {
    font-size: 16px;
    font-weight: 300;
    color: #000;

}