body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Gilroy';
    line-height: 24px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    width: 1160px;
    margin: 0 auto;
}


@font-face {
    font-family: Gilroy;
    src: url(../fonts/gilroylight.woff2) format('woff2'), url(../fonts/gilroylight.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/gilroyextrabold.woff2) format('woff2'), url(../fonts/gilroyextrabold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensanslight.woff2) format('woff2'), url(../fonts/opensanslight.woff) format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensans.woff2) format('woff2'), url(../fonts/opensans.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000;
}


/*  header  */

.header {
    /* background: url("../img/header-bg.png") center no-repeat; */
    background-color: #f7e296;
    width: 1160px;
    height: 299px;
    margin: 40px auto;
    position: relative;
}

.logo {
    display: flex;
    width: 163px;
    height: 35px;
    margin-left: 60px;
    margin-top: -19px;
    position: absolute;
    z-index: 1;
    opacity: 1;
}

.logo a:hover {
    opacity: 0.6;
}

.logo a:active {
    opacity: 0.3;
}

.header-search {
    background-color: transparent;
    border: 0px solid;
    width: 360px;
    color: #000;
    opacity: 0.3;
    padding-left: 50px;
    height: 50px;
}

.header-search[placeholder] {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #000;
    opacity: 0.3;
}

.header-search:focus {
    opacity: 0.6;
    width: 360px;
    border-bottom: 2px solid #000;
}


.search-button {
    padding: 8px 18px;
    line-height: 30px;
    text-transform: none;
    font-weight: 400;
    color: #000;
    background-color: transparent;
    border: 2px solid #000;
    visibility: hidden;
}

.search-button:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}


.header-search:focus+.search-button {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}





.site-search {
    list-style: none;
    display: flex;
    width: 360px;
    width: auto;
    margin-top: 20px;
    margin-left: 9px;
}

.search-form {
    display: flex;
    position: relative;
    width: 440px;
}

.user-navigation {
    display: flex;
    padding-top: 15px;
    align-items: center;
    opacity: 1;
    margin-bottom: 12px;
}

.user-navigation a:hover {
    opacity: 0.6;
}

.user-navigation a:active {
    opacity: 0.3;
}


.search-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 14px;
}

.user-enter {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #000;
    list-style: none;
    display: flex;
    margin-left: 71px;
}



.login-img {
    margin-right: 10px;
}

.catalog-menu {
    display: none;
    width: 1160px;
    height: 150px;
    background-color: #f7e296;
    position: absolute;
    margin-top: 32px;
    left: 0;
    z-index: 5;
}

.catalog-menu::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 20px;
}



.catalog-menu ul {
    list-style: none;
    margin-left: 20px;
}

.catalog-menu li {
    text-align: left;
}

.catalog-menu a {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
}


.user-compare {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #000;
    list-style: none;
    display: flex;
    margin-left: 178px;
}

.compare-img {
    margin-right: 6px;
}

.user-cart {
    margin-left: 40px;
}

.cart-img {
    margin-right: 10px;
}

.nav-item1 {
    width: 220px;
    margin-left: 20px;

}


.nav-item:hover .catalog-menu,
.catalog-menu:hover {
    display: flex;

}


.nav-item1:before,
.nav-item1:after {
    content: "";
    width: 16px;
    height: 2px;
    position: absolute;
    background-color: #b8a974;
    top: 123px;
    left: 291px;
    z-index: 1;
}

.nav-item1:before {
    transform: rotate(90deg);
}

.site-navigation {
    display: flex;
    /* justify-content: space-between; */
    margin: 0;
}

.site-navigation a:hover {
    opacity: 0.7;
}

.site-navigation a:active {
    opacity: 0.3;
}

.nav-item {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.nav-item1 {
    margin-left: 19px;
    font-size: 18px;
    font-weight: 800;
    color: #000;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-right: 321px;
}


.nav-item2 {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-right: 34px;
}

.nav-item3 {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-right: 108px;

}

.nav-item4 {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}




.slide-1 {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: -111px;
    margin-left: 100px;
    margin-bottom: 90px;
}

.slide-img {
    margin-top: -40px;
    margin-left: -10px;
}

.slide-2 {
    display: none;
    /* display: flex;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: -110px;
    margin-left: 100px; */
}

.slide-3 {
    display: none;
    /* display: flex;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: -110px;
    margin-left: 100px; */
}

.slide-num {
    font-size: 179px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    margin-top: 23px;
    margin-left: 331px;
}

.slide-num::before {
    content: "";
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    width: 100px;
    height: 7px;
    background-color: #fff;
    margin-left: -329px;
    margin-top: -26px;
}

.slide-info {
    margin-left: 125px;

}

.slide-title {
    font-size: 47px;
    font-weight: 800;
    color: #000;
    line-height: 56px;
    margin-bottom: 19px;
    letter-spacing: 0.014em;
}

.slide-text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #464646;
    line-height: 30px;
    width: 480px;
    height: 70px;
    /* letter-spacing: 0.005em; */
    margin-bottom: 42px;
}

.slide-btn {
    display: flex;
    justify-content: space-between;
}

.link-btn {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
    border: none;
    cursor: pointer;
    position: relative;
    opacity: 1;
    padding: 0 44px;
    width: 220px;
    letter-spacing: 0.2em;
    margin-bottom: 10px;
    margin-right: 175px;
}


.link-btn:after {
    content: "";
    background-color: #f0c52e;
    width: 220px;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: 7px;
    transition: 0.3s;
}

.link-btn:hover:after {
    transition: 0.3s;
    transform: scaleY(5);
}


.slider-btn {
    border: none;
    cursor: pointer;
    background: transparent;
    margin-right: 5px;
}

.slide-item {
    display: flex;
    list-style: none;
    width: 450px;
    margin-top: 45px;
    text-align: left;
}



.slide-item-1 {
    font-size: 36px;
    font-weight: 300;
    color: #000;
    line-height: 48px;
}


.slide-item-2 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #464646;
    line-height: 20px;
    width: 150px;
    height: 30px;
    padding: 0;
}



.category {
    margin-top: 105px;
    margin-bottom: 162px;
    margin-left: -40px;
}

.category-item {
    list-style: none;
    display: flex;
    justify-content: space-between;
}


.category-img {
    background-color: #f7e296;
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}


.category-img:hover {
    background-color: #f0c52e;
}

.category p {
    width: 160px;
}


.category-text {
    font-size: 18px;
    font-weight: 800;
    color: #000;
}




/* SERVICES */




.services {
    background-color: #e5e5e5;
    width: 100%;
    height: 288px;
}

.services-item {
    display: flex;
}


.services-button {
    padding: 0;
    margin-top: -100px;
    margin-left: 0;
    width: 284px;
    padding-top: 80px;
    font-size: 18px;
    font-weight: 800;
    color: #000;
    list-style: none;
    border: none;
    height: 320px;
    margin-right: 118px;
    border-right: 8px #000 solid;
}



.sevices-tab {
    display: flex;
    align-items: center;
    width: 280px;
    height: 40px;
    text-align: center;
    margin-bottom: 25px;
}


.sevices-tab.current {
    display: flex;
    align-items: center;
}


.current a::after {
    display: none;
}

.current a::before {
    position: absolute;
    content: "";
    top: -8px;
    left: 0;
    z-index: -1;
    width: 280px;
    height: 40px;
    background: #000;
    color: #fff;
}

.current a {
    color: #fff;
}



.services-link {
    width: 160px;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
    border: none;
    cursor: pointer;
    position: relative;
    opacity: 1;
    letter-spacing: 0.2em;
    z-index: 1;
}






.services-link::after {
    content: "";
    background-color: #f0c52e;
    width: 160px;
    height: 8px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    margin-top: 7px;
    transition: 0.3s;
    margin-left: -80px;
}


.services-link:hover::after {
    transform: scaleY(5);
}






.services-description {
    display: flex;
    width: 450px;
    margin-top: -65px;
}


.services-slide-2 {
    display: none;
}

.services-slide-3 {
    display: none;
}


.services-img {
    margin-top: 45px;
    margin-left: 115px;
}

.services-title {
    font-size: 47px;
    font-weight: 800;
    color: #000;
    line-height: 48px;
    margin-bottom: 30px;
}



.services-text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #464646;
    width: 440px;
    height: 100px;
}

.partners {
    margin-top: 95px;
    margin-bottom: 85px;
}

.partners ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}


.partners-logo-1:hover {
    background: url("..//img/dji-hover.png") center no-repeat;
}

.partners-logo-2:hover {
    background: url("..//img/sp-gadgets-hover.png") center no-repeat;
}

.partners-logo-3:hover {
    background: url("..//img/gopro-hover.png") center no-repeat;
}

.partners-logo-4:hover {
    background: url("..//img/vive-hover.png") center no-repeat;
}


.about-line {
    width: 80px;
    height: 7px;
    background-color: #000;
    margin-bottom: 56px;
}

.about-contacts {
    display: flex;
    margin-bottom: 90px;
}

.about {
    width: 50%;
}

.about h2 {
    font-size: 47px;
    font-weight: 800;
    color: #000;
    margin-bottom: 55px;
}

.about-text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #464646;
    line-height: 30px;
}

.about-text p {
    margin-bottom: 31px;
}

.transport {
    font-size: 16px;
    font-weight: 800;
    color: #000;
    margin-top: 75px;
    margin-bottom: 73px;
    padding: 0;
}

.transport li {
    margin-bottom: 15px;
}

.transport-img {
    margin-right: 24px;
}


.contact {
    width: 50%;
    margin-left: 38px;
}

.contact h2 {
    font-size: 47px;
    font-weight: 800;
    color: #000;
}

.contact-text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #464646;
    margin-top: 56px;
    margin-bottom: 40px;
    line-height: 30px;
}

.contact img {
    margin-bottom: 70px;
}

.info {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    opacity: 1;
    padding: 0 44px;
    width: 220px;
    letter-spacing: 0.2em;
    z-index: 1;
    padding: 0 21px;
    margin-left: 2px;
}

.info::after {
    content: "";
    background-color: #f0c52e;
    width: 260px;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: 7px;
    transition: 0.3s;
}

.info:hover::after {
    transition: 0.3s;
    transform: scaleY(5);
}

.communication {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    opacity: 1;
    padding: 0 44px;
    width: 260px;
    letter-spacing: 0.2em;
    z-index: 1;
    padding: 0 40px;
    margin-top: 2px;
    margin-left: 2px;
}

.communication::after {
    content: "";
    background-color: #f0c52e;
    width: 260px;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: 6px;
    transition: 0.3s;
}

.communication:hover::after {
    transition: 0.3s;
    transform: scaleY(5);
}



/*  FOOTER  */

.footer {
    display: flex;
    background-color: #464646;
    width: 100%;
    height: 324px;
}




.footer-address {
    position: relative;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}



.footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 5px;
}


.footer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.footer-phone {
    color: #fff;
}


.footer3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-line {
    width: 80px;
    height: 7px;
    background-color: #ffc600;
}


.footer-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 440px;
    align-items: center;
}

.footer-nav a {
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-left: -50px;
}

.footer-user {
    list-style: none;
    display: flex;
}


.social {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 170px;
    margin-left: -100px;
}

.footer-user a {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;

}

.footer-user img {
    margin-right: 10px;
    margin-left: 43px;
}




/*  CATALOG  */



.range1 {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 66px;
}


.range {
    width: 200px;
    height: 2px;

    border-radius: 4px;
    background-color: #ddd;
}

.range-button_1,
.range-button_2 {
    position: absolute;
    top: 50%;

    width: 20px;
    height: 20px;

    cursor: move;
    transform: translateY(-50%);

    border: none;
    border-radius: 50%;
    background: url("..//img/svg-device/filter-button.svg") center no-repeat;
}

.range-between {
    position: absolute;
    height: 2px;
    width: 0px;
    /* margin-top: 2px; */
    border: none;
    background-color: #91c92f;
}





.color-checkbox {
    position: relative;
    padding-left: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.color-checkbox::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background: url("../img/svg-device/checkbox-off.svg") center center no-repeat;
    background-size: 100%;
}

input:checked+.color-checkbox::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 25px;
    background: url("../img/svg-device/checkbox-on.svg") center center no-repeat;
    background-size: 100%;
}

/* RADIO */

.bluetooth {
    position: relative;
    padding-left: 30px;
}

.bluetooth::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background: url("../img/svg-device/radio-off.svg") center center no-repeat;
    background-size: 100%;
}

input:checked+.bluetooth::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background: url("../img/svg-device/radio-on.svg") center center no-repeat;
    background-size: 100%;
}

.show-btn {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
    border: none;
    cursor: pointer;
    position: relative;
    opacity: 1;
    padding: 0 44px;
    width: 200px;
    letter-spacing: 0.2em;
    background: none;
    z-index: 1;
    margin-left: 60px;
}


.show-btn::after {
    content: "";
    background-color: #f0c52e;
    width: 200px;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: 6px;
    transition: 0.3s;
}

.show-btn:hover::after {
    transition: 0.3s;
    transform: scaleY(5);
}

.catalog-header {
    background-color: #f7e296;
    width: 1160px;
    height: 185px;
    margin: 40px auto;
    position: relative;
}

.title {
    font-size: 47px;
    font-weight: 800;
    color: #000;
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 35px;
}

.breadcrumbs {
    display: flex;
    margin-bottom: 47px;
}

.breadcrumbs li {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    list-style: none;
    padding: 0 10px;
}

.breadcrumbs a {
    padding: 0 10px;
    opacity: 0.3;
}

.cat-nav {
    display: flex;
    justify-content: space-between;
}

.cat-nav h2 {
    background-color: #dcdcdc;
}

.criteria-product {
    display: flex;

}

.criteria {
    position: relative;
    background-color: #ebebeb;
    width: 470px;
    height: 1290px;
    margin: 0 auto;
    padding-right: 67px;
}

.criteria::before {
    content: "";
    position: absolute;
    background: #ebebeb;
    height: 100%;
    width: 100vw;
    top: 0;
    right: 0;
    z-index: -1;
}

.criteria h2 {
    font-size: 16px;
    margin-top: 25px;
    margin-left: 60px;
    margin-bottom: 92px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background-color: #dcdcdc;

}

.criteria p {
    margin-left: 60px;
    margin-bottom: 30px;
}


.product {
    display: flex;
    flex-wrap: wrap;

}

.product-btn {
    list-style: none;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-left: 218px;
}

.product-btn-down {
    margin-left: 5px;
}

.product-filter {
    display: flex;
    background-color: #ebebeb;
    width: 100%;
    align-items: center;
    height: 70px;
    position: relative;
}

.product-filter::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #ebebeb;
    height: 100%;
    width: 100vw;
    z-index: -1;
}

.product-filter h3 {
    font-size: 16px;
    margin-left: 73px;
    margin-right: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.product-filter a {
    margin-right: 10px;
}



.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.select-page {
    background-color: #ebebeb;
    width: 780px;
    height: 70px;
    margin-left: 72px;
}

.select-num {
    display: flex;

}

.form-filter {
    overflow: hidden;
}

.filter-title {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 18px;
}


.filter-line {
    width: 201px;
    height: 2px;
    background-color: #000;
    margin-left: 60px;
}

.filter-item {
    list-style: none;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    opacity: 0.3;
    display: flex;
}

.filter-item a {
    padding: 0 10px;
}

.filter-item.current {
    opacity: 1;
}

.color-item {
    margin-left: 20px;
    margin-bottom: 49px;
}

.color-item li {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    list-style: none;
    margin-bottom: 14px;
}

.catalog-item {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    list-style: none;
    width: 360px;
    margin-bottom: 50px;

}

.catalog-img {
    position: relative;
}


.catalog-img a {
    cursor: default;
}


.catalog-image {
    opacity: 1;
    position: relative;
    margin-bottom: 15px;
}

.catalog-image:hover {
    opacity: 0.7;
}


.catalog-item:hover .catalog-add {
    display: block;
}



.catalog-add {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 50%;
    transform: translateY(-50%);
    text-align: center;

}


.add-to-cart {
    width: 200px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 800;
    color: #000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    position: relative;
}


.add-to-cart::after {
    content: "";
    background-color: #f0c52e;
    width: 200px;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: 5px;
    transition: 0.3s;
}


.add-to-cart:hover:after {
    transition: 0.3s;
    transform: scaleY(5);
}



.add-to-compare {
    font-size: 13px;
    width: 200px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    opacity: 0.5;
}

.add-to-compare:hover {
    opacity: 1;
}

.add-to-compare:active {
    opacity: 0.2;
}


.price {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    margin-bottom: 30px;
}

section ul {
    list-style: none;
}

.section-num {
    font-size: 16px;
    font-weight: 800;
    color: #000;
    opacity: 0.3;
}

.section-num.current {
    opacity: 1;
}

.section-btn {
    font-size: 16px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}


/* MODAL */

.modal-login {
    position: absolute;
    top: 1100px;
    left: 165px;
    z-index: 1;
    display: flex;
    width: 960px;
    height: 553px;
    margin: 0 auto;
    box-shadow: 0 0 5px;
    background-color: #fff;
}



.login-email {
    margin-top: 90px;
    display: flex;
    padding: 0 70px;
    justify-content: space-between;
}

.login-icon-user {
    width: 360px;
    height: 50px;
    background-color: #f2f2f2;
    border: none;
    padding: 16px 20px;
}


.login-icon-user:focus {
    border: 3px solid #f7e296;
    background-color: #fff;
    outline: none;
}

.login-icon-email {
    width: 360px;
    height: 50px;
    background-color: #f2f2f2;
    border: none;
    padding: 16px 20px;
}

.login-icon-email:focus {
    border: 3px solid #f7e296;
    background-color: #fff;
    outline: none;
}

.text-user {
    padding: 0 70px;

}

.text-user textarea {
    background-color: #f2f2f2;
    border: none;
    padding-left: 20px;
}

.text-user textarea:focus {
    border: 3px solid #f7e296;
    background-color: #fff;
    outline: none;
}

.modal-close {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    opacity: 0.5;
    width: 55px;
    height: 55px;
    position: absolute;
    z-index: 1;
    top: 10;
    left: 1;
    margin-top: -80px;
    margin-left: 825px;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.3;
}



.modal-close-map {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    opacity: 0.5;
    width: 55px;
    height: 55px;
    position: absolute;
    z-index: 1;
    top: 10;
    left: 1;
    margin-top: 10px;
    margin-left: 890px;
}

.modal-close-map:hover {
    opacity: 1;
}

.modal-close-map:active {
    opacity: 0.3;
}

.login-submit {
    margin-top: 55px;
    margin-left: 70px;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
    border: none;
    cursor: pointer;
    position: relative;
    opacity: 1;
    padding: 0 44px;
    width: 220px;
    letter-spacing: 0.2em;
    background: none;
}

.login-submit::after {
    content: "";
    background-color: #f0c52e;
    width: 220px;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: 5px;
    transition: 0.3s;
}

.login-submit:hover::after {
    transition: 0.3s;
    transform: scaleY(5);
}

.modal-map {
    display: none;
    position: absolute;
    top: 1880px;
    left: 165px;
    z-index: 1;
    width: 960px;
    height: 560px;
}