body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: 'Gilroy';
    line-height: 24px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/gilroyextrabold.woff2") format('woff2'), url("../fonts/gilroyextrabold.woff") format('woff');
    font-weight: 800;
    font-family: 'Gilroy';
    src: url("../fonts/gilroylight.woff2") format('woff2'), url("../fonts/gilroylight.woff") format('woff');
    font-weight: 300;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000;
}


/*  header  */

.header {
    /* background: url("../img/header-bg.png") center no-repeat; */
    background-color: #f7e296;
    width: 1160px;
    height: 299px;
    margin: 40px auto;
    position: relative;
}

.logo {
    display: flex;
    width: 163px;
    height: 35px;
    margin-left: 57px;
    margin-top: -25px;
    position: absolute;
    z-index: 1;
}

input {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: #000;
}

.site-search {
    list-style: none;
    display: flex;
    margin-left: 25px;
}

.user-navigation {
    display: flex;
    padding-top: 34px;
    align-items: center;
}

.search-img {
    margin-right: 12px;
}

.user-enter {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #000;
    list-style: none;
    display: flex;
}

.login-link {
    margin-left: 305px;
}

.login-img {
    margin-right: 10px;
}

.user-compare {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #000;
    list-style: none;
    display: flex;
    margin-left: 170px;
}

.compare-img {
    margin-right: 10px;
}

.user-cart {
    margin-left: 40px;
}

.cart-img {
    margin-right: 10px;
}

.nav-item2 {
    margin-left: 375px;
}

.nav-item3 {
    margin-left: 70px;
}

.nav-item4 {
    margin-left: 165px;
}

.site-navigation {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    padding-top: 5px;
}



.nav-item1 {
    margin-left: 20px;
}

.slide {
    display: flex;
}

.slide-num {
    font-size: 179.2px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
}

.slide-info {
    margin: 0 auto;
}

.slide-title {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    color: #000;
    line-height: 56px;
}

.slide-text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #464646;
    line-height: 30px;
    width: 500px;
    height: 70px;
    padding: 10px;
    margin-bottom: 50px;
}

.link-btn {
    margin-left: 55px;
    background-color: #f0c52e;
    font-size: 18px;
    font-weight: 800;
    color: #000;
    border: none;
    cursor: pointer;
    width: 220px;
    height: 8px;
}

.slider-btn {
    border: none;
    cursor: pointer;
    background: transparent;
}

.slide-item {
    display: flex;
    list-style: none;
    width: 450px;
    margin-top: 45px;
}


.slide-item p {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #464646;
    line-height: 20px;
    width: 135px;
    height: 75px;
}

.slide-item2 {
    margin-left: 25px;
}

.slide-item3 {
    margin-left: 30px;
}

.slide-item span {
    font-size: 36px;
    font-weight: 300;
    color: #000;
    line-height: 48px;
}

.category-item {
    list-style: none;
    display: flex;
    justify-content: space-between;
}


.category-img {
    background-color: #f7e296;
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.category-img:hover {
    background-color: #f0c52e;
}

.category p {
    width: 160px;
}


.category-text {
    font-size: 18px;
    font-weight: 800;
    color: #000;
}




/* SERVICES */




.services {
    background-color: #e5e5e5;
    width: 100%;
    height: 288px;
}

.services-item {
    display: flex;
    justify-content: space-between;
}

.services-button {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    list-style: none;
    border: none;
}

.services .current {
    color: #f7e184;
}

.services-description {
    width: 450px;
}

.services-title {
    font-size: 47px;
    font-weight: 800;
    color: #000;
    line-height: 48px;
}



.services-text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #464646;
    width: 440px;
    height: 100px;
}

.partners ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.about-contacts {
    display: flex;
}

.about {
    width: 50%;
}

.about h2 {
    font-size: 47px;
    font-weight: 800;
    color: #000;
}

.about-text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #464646;
}

.transport {
    font-size: 16px;
    font-weight: 800;
    color: #000;
}

.contact {
    width: 50%;
}

.contact h2 {
    font-size: 47px;
    font-weight: 800;
    color: #000;
}

.contact-text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #464646;
}

.info {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
}

.communication {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
}


/*  FOOTER  */

.footer {
    background-color: #464646;
    width: 100%;
    height: 324px;
}

.footer-logo {
    margin-top: 60px;
}

.footer-address {
    margin-top: 25px;
    position: relative;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

.footer-address:after {
    margin-top: 85px;
    content: "";
    position: absolute;
    width: 80px;
    height: 8px;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #f0c52e;

}

.footer-item {
    display: flex;
    justify-content: space-between;
}

.footer-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin-top: 140px;
}

.footer-nav a {
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
}

.footer-user {
    list-style: none;
    display: flex;
    margin-top: 70px;
}

.footer-phone {
    margin-top: 50px;
    margin-left: 230px;
}

.social {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-top: 70px;
    margin-left: 145px;
}

.footer-user a {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    margin-left: 40px;
}

.footer-user img {
    margin-right: 8px;
}




/*  CATALOG  */

.catalog-header {
    background-color: #f7e296;
    width: 1160px;
    height: 185px;
    margin: 40px auto;
}

.title {
    font-size: 47px;
    font-weight: 800;
    color: #000;
    margin-top: 45px;
    margin-left: 60px;
    margin-bottom: 35px;
}

.breadcrumbs {
    display: flex;
}

.breadcrumbs li {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    list-style: none;
    padding: 0 10px;
}

.breadcrumbs a {
    padding: 0 10px;
    opacity: 0.3;
}

.cat-nav {
    display: flex;
    justify-content: space-between;
}

.cat-nav h2 {
    background-color: #dcdcdc;
}

.criteria-product {
    display: flex;
}

.criteria {
    background-color: #ebebeb;
    width: 470px;
    height: 1220px;
    margin: 0 auto;
}

.product {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.product-btn {
    list-style: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.product-filter {
    display: flex;
    justify-content: space-evenly;
    background-color: #ebebeb;
    width: 100%;
    align-items: center;
    height: 70px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.select-page {
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    width: 760px;
    height: 70px;
    margin: 0 auto;
}

.select-num {
    display: flex;
}

.filter-title {
    font-size: 18px;
    font-weight: 800;
    color: #000;
}

.filter-item {
    list-style: none;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    opacity: 0.3;
    display: flex;
}

.filter-item.current {
    opacity: 1;
}

.color-item li {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    list-style: none;
}

.catalog-item {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    list-style: none;
    width: 360px;
}

.btn {
    font-size: 18px;
    font-weight: 800;
    color: #000;
    border: none;
    cursor: pointer;
    background-color: #f0c52e;
    width: 220px;
    height: 8px;
}

.price {
    font-size: 16px;
    font-weight: 300;
    color: #000;
}

section ul {
    list-style: none;
}

.section-num {
    font-size: 16px;
    font-weight: 800;
    color: #000;
    opacity: 0.3;
}

.section-num.current {
    opacity: 1;
}

.section-btn {
    font-size: 16px;
    font-weight: 800;
    color: #000;
}


/* MODAL */

.modal-login {
    display: flex;
    width: 960px;
    height: 550px;
    margin: 0 auto;
    box-shadow: 0 0 5px;
}

.login-email {
    display: flex;
    padding: 0 70px;
    justify-content: space-between;
}

.login-icon-user {
    width: 360px;
    height: 50px;
    background-color: #f2f2f2;
}

.login-icon-email {
    width: 360px;
    height: 50px;
    background-color: #f2f2f2;
}

.text-user {
    padding: 0 70px;
}

.modal-map {
    width: 960px;
    height: 560px;
}